---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "milligram/milligram",
        "base",
        "layout"
;

.nav-item {
        display: block;
        padding: 0px;
        margin: 0px;
}

.nav-item :hover {
        // display: inline-block;
        text-decoration: underline;
}

.nav-item-current {
        display: block;
        padding: 0px;
        margin: 0px;
        font-weight: bold;
}

.nav-item:hover, .nav-item:focus, .nav-item:active, .nav-item-current:hover, .nav-item-current:focus, .nav-item-current:active  {
        text-decoration: underline;
}

@media (min-width: 350px) {
.nav-item-current {
        display: inline-block;
        padding: 1rem;
        font-weight: bold;
      }
.nav-item {
        display: inline-block;
        padding: 1rem;
}
}

.breadcrumbs {
        font-size: 1.2rem;
        color: gray !important;
}

.breadcrumbs :hover {
        text-decoration: underline;
}


.center {
        text-align: center;
}

.videowrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }
.videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

